.section1 img{
    height: 700px;
    padding-right: 30px;

}

.container img{
    height: 550px;
    width: 650px;
    border-radius: 6px;
    position: absolute;
    left: 580px;
    top: 51px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.35);
}

.section4 img{   
    height: 1000px;
    width: 50%;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.18);
    object-fit: cover;
}